:root{
    --blue:#003580;
    --yellow:#febb02;
}
body{
    color: black;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
}
input{
    border: none;
    outline: none;
    padding: 5px 10px;
}
li a{
    text-decoration: none;
    color: var(--blue);
}
li{
    list-style: none;
}
.container{
    width: 80%;
    max-width: 1140px;
    margin: auto;
}